/*Style và set vị trí cho chat card*/
.card {
  width: 450px;
  height: 550px;
  position: fixed;
  right: 180px;
  bottom: 130px;
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: 1px 1px 8px 3px #888888;

  animation: rotate 0.5s;
}

/*Style phần tiêu đề*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  border-radius: 15px 15px 0 0;
}

.header h3 {
  background-color: #dee2e6;
  padding: 10px 15px;
}

.header h3:hover {
  background-color: #868e96;
  cursor: pointer;
}

.border-bottom {
  width: 100%;
  border-bottom: 1px solid #dee2e6;

  position: absolute;
  top: 70px;
  left: 0;
}

.header h2,
.header h3 {
  margin: 0;
}

/*Style khung hiển thị chat*/
.chat-frame {
  height: 360px;
}

.chat-left img,
.chat-actions img {
  width: 8%;
  background-color: #f1f3f5;
  border-radius: 50%;
}

.chat-left {
  display: flex;
  padding-left: 30px;
  margin-bottom: 20px;
  align-items: center;
  gap: 15px;
}

.chat-left span {
  max-width: 300px;
  background-color: #dee2e6;
  padding: 10px 15px;
  color: #495057;
  font-size: 18px;
  font-style: italic;
  border-radius: 5px;
}

.chat-right {
  display: flex;
  margin-right: 60px;
  justify-content: right;
  margin-bottom: 20px;
}

.chat-right span {
  max-width: 300px;
  background-color: #4dabf7;
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-style: italic;
  border-radius: 5px;
}

.chat-login-text {
  font-size: 1.3em;
  text-align: center;
}

/*Style phần nhập chat*/
.chat-actions {
  height: 63px;
  background-color: #e9ecef;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid #dee2e6;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.chat-input img {
  width: 15%;
}

.chat-input {
  display: flex;
  gap: 15px;
  align-items: center;
}

.chat-input input {
  font-size: 1.2em;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
}

.chat-input input:focus {
  outline: none;
}

.action-icons {
  /* margin-right: 40px; */
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}

.action-icons i:last-child {
  color: #339af0;
  font-size: 28px;
}

@keyframes rotate {
  0% {
    opacity: 0.2;
    transform: rotate(-10deg);
  }

  /* 25% {
    opacity: 0.4;
    transform: rotate(3deg);
  } */

  50% {
    opacity: 0.8;
    transform: rotate(5deg);
  }

  /* 75% {
    opacity: 0.8;
    transform: rotate(-3deg);
  } */

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
