.chat-icon {
  position: fixed;
  bottom: 50px;
  font-size: 60px;
  right: 80px;
  color: #339af0;
}

.chat-icon:hover {
  cursor: pointer;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
